.lotusStory {

    &__title {
        width: 100%;
        height: 5rem;
        font-size: 2.4rem;
        font-weight: 600;
        color: #333;
        border: none;
        outline: none;
        margin: 1.5rem 0;
    
    }

    &__block {
        background-color: aqua;
        height: 15rem;
    }
}